<h1> Checkout </h1>
<%= form_for @order do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

  <%= f.label :address %>:
  <%= f.text_field :address %><br />

  <%= f.label :state %>:
  <%= f.text_field :state %><br />

  <%= f.label :city %>:
  <%= f.text_field :city %><br />

  <%= f.label :zipcode %>:
  <%= f.text_field :zipcode %><br />

  <%= f.label :total %>:
  <%= f.text_field :total %><br />

  <%= f.submit %>
<% end %>
