<!DOCTYPE html>
<html>
<head>
  <title>EcommerceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<% if user_signed_in? %>
  <p class="nav navbar-text pull-right">
    <%= link_to carts_path do%>
      <i class="shopping-cart"></i>
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      My Cart
      (<span class="cart-count"><%= current_user.cart_number %></span>)
    <%end%>
    <br>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    Logged in as <strong><%= current_user.username %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  </p>
<% end %>

<nav class="nav navbar">
  <a href="/">Products</a>
</nav>

<%= yield %>

</body>
</html>
